.header-area{background-size:cover;
			 background-position:100%;
			 background-repeat:no-repeat;
			 min-height:10%;
			 overflow-x:hidden;
			 overflow-y:hidden;}

.header_post{position:absolute;
			 height:97.5%;
			 width:100%;
			 max-height:100%;
			 max-width:100%;
			 top:10;
			 left:0;
			 background:rgba(0,0,0,0.4);
			 color:white;
			 display:flex;
			 align-items:center;
			 justify-content:center;
			 flex-direction:column;}

.header_post h1{font-family:Brush Script MT;
				position:sticky;
				letter-spacing:0px;
				margin:0px 0px 5px; 
				font-size:70px;}

.header_post p{position:sticky;
			   top:70%;
			   margin:0px; 
			   font-size:20pt;
			   font-family:Gabriola;}

.header_post img{position:sticky;
				 width:200px;
				 height:200px;}
				   
.head img{height:97vh;
		  width:100vw;}
		  
.intro {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 80px 0px;
   background-image: url(img/bbb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.intro h1
{
 margin-top: 45px;
  margin-bottom: 20px;
  color: #fff;
  font-family:Gabriola;
}

#about {
  padding: 0px;
  background-image: url(img/bbb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#about .service-item {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 120px;
}

#about .service-item h2{
  margin-top: 45px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

#about .service-item p{
  margin-bottom: 0px;
  color: #fff;
  font-size:20px;
}

#about .first-service {
  background-color: rgba(242, 116, 95, 0.80);
}

#about .second-service {
  background-color: rgba(54, 62, 80, 0.80);
}

#about .third-service {
  background-color: rgba(70, 186, 226, 0.80);
}

